@media (max-width: 1300px){
    .resume-content{
        flex-direction: column;
    }

    .applicant{
        width: 100%;
    }

    .applicant__button--button{
        margin-top: 24px;
        margin-bottom: 32px;
    }
}